

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.headline {
  text-align: center;
  color: #FFF;
  margin-bottom: 40px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 40px;
}

p {
  font-size: 1.8rem;
}

#modal {
  background: rgba(38,38,38,0.90);
  box-shadow: 0 9px 10px 3px rgba(0,0,0,0.50);
  min-height: 400px;
}

.vertically-centered {
  /* VERTICAL CENTER MARKUP */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  margin-left: -20px;
}

.privacy-sentence {
  font-size: 1rem;
  color: #9E9E9E;
  /*position: absolute;*/
  /*left: 34px;*/
  line-height: 1.8rem;
  text-align: center;
}

.form-control, .btn {
  border-radius: 100px;
}

.form {
  /*align-items: center;*/
  text-align: center;
}
